<h1 [ngStyle] = "{'background': corFundo}"> Curso angular</h1>

<h2>My App</h2>


<ul>
    <li *ngFor="let p of produtos; let i = index"
        (click) = "remover(i)"
    > 
        {{ i }} - {{ p }} 
    </li>
    <br>
    <button (click) = "adicionar()"> Adicionar </button>
</ul>

<div [ngSwitch]="menuType">
    <div *ngSwitchCase = "'user'">
        <ul>
            <li> Editar perfil </li>
            <li> Adicionar Cartão </li>
        </ul>
    </div>
    <div *ngSwitchCase = "'admin'">
        <ul>
            <li> Adicionar perfil </li>
            <li> Editar perfil </li>
            <li> Gerenciar usuarios </li>
        </ul>
    </div>
    <div *ngSwitchCase = "'superUser'">
        <ul>
            <li> Adicionar perfil </li>
            <li> Editar perfil </li>
            <li> Gerenciar usuarios </li>
            <li> Gerenciar admins </li>
        </ul>
    </div>
</div>